<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'test_version_2' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
